/* add by xuze */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  background-color: #f00;
}
.row {
  background-color: #fff;
}
.col-xs-4 {
  background-clip: content-box;
  height: 100px;
}
.bg-color {
  background-color: #ccc;
}
